<div class="search-form-control form-group" data-controller="search-bar">
  <%= form_with url: root_path, method: :get, class: "d-flex", data: { search_bar_target: "form", action: "submit->search-bar#submit" } do %>
    <%= text_field_tag :query,
          params[:query],
          id: "search_query",
          name: "query",
          class: "form-control string required",
          placeholder: "Type a keyword",
          data: { 
            search_bar_target: "input",
            action: "input->search-bar#search"
          }
      %>
    <%= submit_tag "Search", name: "", class: "btn btn-flat" %>
    <% if params[:query].present? %>
      <button type="button" 
              class="btn btn-outline-secondary ms-2" 
              data-action="click->search-bar#clear">
        Clear
      </button>
    <% end %>
  <% end %>
</div>
