<div class="card-category" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://i.pinimg.com/736x/63/22/20/63222061d5cb49f6ee407eab62ab98d9.jpg)">
 <div class="inside">
  <p>Are you in need of someone to accompany you on your daily adventures?
  <br><strong>Find your Buddy!</strong></p>
    <div class="button-profile">
      <%= link_to "Create your Buddy Account!", new_user_registration_path %>
    </div>
  </div>
</div>
