 <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/736x/63/22/20/63222061d5cb49f6ee407eab62ab98d9.jpg)">

    Some text to make the card look nice
    </div>
