<h1>This is the landing page</h1>
<%# Faire une navbar, checker pour faire un component a rappeler %>
<%# Faire une banner avec l'accroche du site %>
<%# faire le lien avec le login et les pages profil %>
<%#  %>
