<h1 id="main-title">Be my Buddy</h1>

<% unless user_signed_in? %>
<div class="container" style="width: 100%; height: 500px; margin: 16px auto;">
<div class="banner">
  <%= render "pages/banner" %>
</div>
</div>
<% end %>

<div class="container-home">

  <div class="container-inside-home ms-3">
      <%= render "pages/friend_cards" %>
    </div>

  <div class="map-home"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
