<<<<<<< HEAD
<h1 id="main-title">Be my Buddy</h1>

<div class="container">
  <div class="banner">
   <%= render "pages/banner" %>

  </div>
</div>
<%# Faire une navbar, checker pour faire un component a rappeler %>
<%# Faire une banner avec l'accroche du site %>
<%# faire le lien avec le login et les pages profil %>
<%#  %>
=======
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
>>>>>>> 1610f54a0cd748112651aee8c5e1a293d5248adf
