<div class="card-container-profiles">
<% @bookings.each do |booking| %>
  <div class="card mb-3">
  <%= link_to booking_path(booking) do %>
  <img src="https://t4.ftcdn.net/jpg/08/09/09/83/360_F_809098361_z45jKPDGsYymmTJcFQvp3VGTPgGuY35L.jpg" class="card-img-top" alt="...">
  <div class="card-body">
  <h2 class=""><%= booking.friend_profile.username %></h2>
    </div>
  </div>
<% end %>
<% end %>
</div>
