<div class="map-info-window">
  <h4><%= friend_profile.username %></h4>
  <p><%= friend_profile.comments %></p>
  <p><strong>Hobbies:</strong> <%= friend_profile.hobbies.map(&:name).join(", ") %></p>
  <p><strong>Address:</strong> <%= friend_profile.address %></p>
</div>