.card-category {
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 70%;
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  border-radius: 8px;
  margin-top: 12px;
  justify-content: center;

}
.card-category p {
  color: $background-app;
  font-size: 32px;
  padding: 0 16px;
  text-align: center;
}

.card-category .button-profile {
  text-align: center;
  margin-top: 16px;
  width: 30%;
  text-shadow: none;
}

.inside {
  display: flex;
  flex-direction: column;
  align-items: center;
}
