.title-newfriend {
  color: $accent-app;
  font-family: poppins, sans-serif;
  font-weight: bolder;
}

.form-label {
  color: $accent-app;
}

.form-container {
  margin: 0 auto;
  padding: 20px;
  background-color: $primary-app;
  border-radius: 8px;
}
.form-control {
  background-color: $background-app;
  border-radius: 8px;
}
.input button {
  background-color: $accent-app;
  color: $primary-app;
  border-radius: 8px;
  font-weight: bolder;
}

.form-select {
  background: none;
  border: none;
  padding: 0;
}

.ts-control {
  background-color: $background-app;
  border-radius: 8px;
}
