.navbar-lewagon {
  justify-content: space-between;
  background: #F9F9E6;
  margin-top: -16px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 48 px;
}
